link(rel='stylesheet' href='/toolbar/toolbar.css')
script(src='/toolbar/toolbar.js')

.raygunToolbar
  .raygunToolbarLeft
    .raygunToolbarDashBtn
      img.raygunIcon(src='/toolbar/raygun.svg')
      .raygunLabel.primaryText RayGun
  .raygunToolbarCenter
    .toolbarLabel.primaryText= "Dashboard"
  .raygunToolbarRight
    img.raygunProfileIcon(src='/toolbar/profile.svg')
