link(rel='stylesheet' href='/toolbar/toolbar.css')
script(src='/toolbar/toolbar.js')

.raygunToolbar
  .raygunToolbarLeft
    .raygunToolbarDashBtn
      object.raygunIcon(data="/toolbar/raygun.svg")
      .raygunLabel.primaryText RayGun
  .raygunToolbarCenter
    .toolbarLabel.primaryText= "Dashboard"
  .raygunToolbarRight
    object.raygunProfileIcon(data='/toolbar/profile.svg')
