link(rel='stylesheet' type="text/css" href='/raygun.css')
script(src='/components/raygun/raygun.js')

.raygun
  include toolbar/toolbar
      
  .raygunCore
    include dashboard/dashboard
    include editor/editor
    
  
