link(rel='stylesheet' type="text/css" href='raygun.css')

.raygun
  .raygunToolbar
    img.raygunIcon(src='raygun.svg')
    .raygunLabel.primaryText RayGun
  .raygunCore
    .raygunIdeasAndDimension
      .raygunIdeas
      .raygunDimension
    .raygunThings
    
  
