.editorThings{
  width : 100%;
  height : 40%;
  display: flex;
  flex-direction: column;
  border-top : 2px solid #3ea26e;
  padding: 5px;
  margin-top: 3px;
  background-color: #f0f0f0;
  transition: transform 0.5s linear;
}

.editorThingsList{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 10px;
  width : 90%;
  height : 50%;
  transform: translate3d(0px, 0px, 0px);
  transition: transform 0.25s ease-out;
}

.thingOptionBtn{
  font-size : 14px;
  text-align: center;
  border : 2px solid #3ea26e;
  border-radius: 8px;
  color : #2ed17c;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 5px;
  margin-right: 5px;
}

.thingOptionBtn:hover{
  background-color: #d9fae9;
}

.editorThingsEditor{
  display: none;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: scroll;
  padding: 10px;
  width : 90%;
}

.thingEditorBackBtn{
  width : 20px;
  height : 20px;
  border : 2px solid #3ea26e;
  border-radius: 15px;
  padding : 5px 20px;
  margin-right : 10px;
  margin-bottom: 10px;
  margin-top: 3px;
  cursor: pointer;
}

.thingEditorName{
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.thingEditorNameKey{
  text-align: center;
  border : 2px solid #3ea26e;
  border-radius: 20px;
  padding: 5px 15px;
  padding-right: 10px;
  border-right: 0px solid #fa73be;
  color: #2ed17c;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.thingEditorNameValue{
  text-align: center;
  border : 2px solid #fa73be;
  border-radius: 20px;
  cursor: text;
  padding: 5px 15px;
  padding-left: 10px;
  border-left: 2px solid #fa73be;
  color : #fa73be;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
}

.thingEditorNameValue:hover{
  background-color: #ffeeee;
}

.thingDataValuesList{
  display: flex;
  flex-direction: row;
  flex-wrap : wrap;
}

.thingDataValue{
  font-size: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  margin-bottom: 10px;
}

.thingDataValueKey{
  text-align: center;
  border : 2px solid #3ea26e;
  border-radius: 20px;
  padding: 5px 15px;
  padding-right: 10px;
  border-right: 0px solid #fa73be;
  color: #2ed17c;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.thingDataValueValue{
  text-align: center;
  border : 2px solid #fa73be;
  border-radius: 20px;
  cursor: text;
  padding: 5px 15px;
  padding-left: 10px;
  border-left: 2px solid #fa73be;
  color : #fa73be;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  outline: none;
}

.thingDataValueValue:hover{
  background-color: #ffeeee;
}
