.prototype{
  display : none;
  width : 100%;
  height : 100%;
  flex-direction: row;
  color : #2ed17c;
  position: absolute;
  transition: transform 0.5s linear;
  transform: perspective(500px) translate3d(0px, -2000px, -5000px);
}

.prototypeCode{
  width : 50%;
  background-color: #230f1a;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prototypePreview{
  width : 50%;
  background-color: #d0d0d0;
  background : url('code-bg.png');
}

.protoCodeNav{
  width : 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.protoCodeNavBackBtn{
  margin: 10px;
  margin-left: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color : #fc70bf;
  border : 2px solid #fc70bf;
  border-radius : 15px;
  padding: 5px 10px;
  cursor : pointer;
}

#protoCodeEditor{
  width : 90%;
  height : 75%;
  margin-top: 5px;
  border : 1px solid #fc70bf;
  padding: 5px;
}

.protoCodeRunBtn{
  margin: 10px;
  margin-right: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  color : #2ed17c;
  border : 2px solid #24da7b;
  border-radius : 15px;
  padding: 5px 25px;
  cursor : pointer;
}
