link(rel='stylesheet' href='/editor/prototype/prototype.css')
script(src='/editor/prototype/prototype.js')

.prototype
  .prototypeCode
    .protoCodeNav
      .protoCodeNavBackBtn
        .protoCodeNavBackBtnLabel Back to Dimension
      .protoCodeRunBtn
        .protoCodeRunBtnLabel Build (Shift + Enter)
    #protoCodeEditor.ace-tomorrow-night-eighties
    
    
  .prototypePreview
