link(rel='stylesheet' href='/editor/ideas/ideas.css')
script(src='/editor/ideas/ideas.js')

.editorIdeas.editorWindow
  .editorTab
    .editorTabLabel Ideas
  .editorIdeasCore
    .editorIdeasList
      .newIdeaBtn
        .newIdeaBtnLabel New Idea
    .editIdeaContainer
      .editIdeaNav
        img.editIdeaNavBackBtn(src='/editor/ideas/back.svg')
      .editIdeaName(contenteditable="true")
      .editIdeaCreator
      .editIdeaDescContainer
        .editIdeaDescStart Description
        .editIdeaDesc(contenteditable="true")
      .editIdeaCode
        .editIdeaCodeBtn
          .editIdeaCodeBtnLabel View / Edit Code
