link(rel='stylesheet' href='/editor/ideas/ideas.css')
script(src='/editor/ideas/ideas.js')

.editorIdeas.editorWindow
  .editorTab
    .editorTabLabel Ideas
  .editorIdeasList
    .newIdeaBtn
      .newIdeaBtnLabel New Idea
