link(rel='stylesheet' href='/editor/dimension/dimension.css')
script(src='/editor/dimension/dimension.js')

.editorDimension.editorWindow
  .editorDimensionNav
    .editorTab 
      .editorTabLabel Dimension
    .dimNavRight
      .shareDimBtn
        .shareDimBtnLabel Share Dimension
      .goToDimBtn
        .goToDimBtnLabel Enter Dimension (~)
  .editorDimPreview
