link(rel='stylesheet' href='/editor/dimension/dimension.css')
script(src='/editor/dimension/dimension.js')

.editorDimension.editorWindow
  .editorTab 
    .editorTabLabel Dimension
  .editorDimPreview
