link(rel='stylesheet' href='/editor/editor.css')
script(src='/editor/editor.js')
  
.editor
  .editorIdeasAndDimension
    include ideas/ideas
    include dimension/dimension
  include things/things
  include prototype/prototype
  
