link(rel='stylesheet' type='text/css' href='/dashboard/dashboard.css')
script(src='/dashboard/dashboard.js')

.dashboard
  .dashCreationsLabel.primaryText Your Dimensions
  .dashboardCreations
    .dashNewDimensionBtn
      img.dashNewDimBtnIcon(src='/dashboard/add.svg')
      .dashNewDimLabel.primaryText New Dimension
    
