link(rel='stylesheet' type='text/css' href='/dashboard/dashboard.css')
script(src='/dashboard/dashboard.js')

.dashboard
  .dashCreationsLabel.primaryText Your Dimensions
  .dashboardCreations
    .dashNewDimensionBtn
      .dashNewDimLabel.primaryText New Dimension
  
